.navbar .nav-link {
  font-size: 14px;
  text-transform: uppercase;
  padding-left: 1em !important;
  padding-right: 1em !important; }

.navbar .nav-item.active {
  border-left: #444 3px solid; }

.carousel-item {
  height: 450px; }

.carousel-image-1 {
  background: url("../img/image1.jpg");
  background-size: cover; }

.carousel-image-2 {
  background: url("../img/image2.jpg");
  background-size: cover; }

.carousel-image-3 {
  background: url("../img/image3.jpg");
  background-size: cover; }

.fa {
  font-size: 55px; }

#heading-section {
  position: relative;
  min-height: 200px;
  background: url(../img/lights.jpg);
  text-align: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  color: #fff; }

.dark-overlay {
  position: absolute;
  background-color: rgba(0, 0, 0, 0.7);
  top: 0;
  left: 0;
  width: 100%;
  height: 100%; }

#video-play {
  position: relative;
  min-height: 200px;
  background: url(../img/media.jpg);
  text-align: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: 0 -300px;
  color: #fff; }
  #video-play a {
    color: #fff; }

footer#main-footer {
  background-color: #000; }

#page-header {
  height: 200px;
  background: url("../img/image1.jpg");
  background-attachment: fixed;
  background-position: 0 -360;
  padding-top: 50px; }

#about img {
  margin-top: -50px; }

#faq-section .card {
  background-color: #333; }

#faq-section a {
  color: #fff; }
